@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400,500,700&display=swap');


body {
    line-height: 1.4;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif ;
    font-weight: 400;
}


.section {
    max-width: ;width: 1220px;
    margin: 100px auto;
    padding: 0 20px;

}


.header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header .se {
    
}


.header .gnb {
    display: flex;
}

.header .gnb li a {
    display: block;
    padding: 10px 30px;
    text-align: center;
}


.header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header .extra {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}


.main_slide {
    max-width: 1220px;
    height: 640px;
    position: relative;
    background-color: #ddd;
    margin: 0 auto;
}


.main_slide .text_box {
    position: absolute;
    top: 0;
    left: 20px;
}

.main_slide .text_box h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
}

.main_slide .text_box p {
    margin: 10px 0 40px;
}


.main_slide .photo {
    position: absolute;
    top: 0;
    right: 20px;
}





.section_s1 {
    display: flex;
    gap: 20px;
}


.section_s1 .item {
    flex: 1;
    height: 580px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-direction: column;
}

.section_s1 .item h3 {
    font-family: 700;
    font-size: 32px;
}


.section_s1 .item a {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 20px;
    color: #fff;
}

.section_s1 .item i {
    color: #fff;
}


.section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.section_title h4 {
    font-weight: 700;
    font-size: 24px;
}

.section_title .arrows {
    font-size: 20px;
    display: flex;
    gap: 20px;
}


.section_title .arrows i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.s2 .swiper-wrapper {
    display: flex;
    gap: 20px;
}


.s2 .section_items .thumb {
    width: 280px;
    height: 280px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
}

.s2 .section_items .title {
    padding: 20px 0;
}


.s2 .section_items .title h4 {
    font-weight: 700;
    margin-bottom: 10px;
}


.s2 .section_items .title p {
    font-size: 14px;
}


.s3 {
    display: flex;
    gap: 20px;
}



.s3 .item {
    flex: 1;
}


.s3 .item .thumb {
    height: 360px;
    background-color: #ddd;
    position: relative;
}

.s3 .item .thumb .user {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.s3 .item .thumb .user .photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #111;
}


.s3 .item .thumb .user .info .name {
    font-size: 14px;
}

.s3 .item .thumb .user .info .job {
    font-size: 10px;
}




.s4 .section_items {
    overflow: hidden;
}


.s4 .section_items .item {
    width: 380px;
}


.s4 .section_items .item .thumb {
    width: 380px;
    height: 280px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
}


.s4 .section_items .item .title h4 {
    padding: 20px 0;
    font-weight: 700;
}


.s5 {
    padding: 80px 0 70px;
    text-align: center;
}


.s5 .text_box h3 {
    font-weight: 700;
    font-size: 32px;
}

.s5 .text_box p {
    margin: 30px auto 50px;
    width: 42%;
}

.s5 .text_box a.btn {
    margin: 0 auto;
}

.footer {
    background-color: #111;
    color: #fff;
}

.footer .section {
    margin: 0 auto;
    padding: 70px 0 90px;
    position: relative;
}

.footer .section .f_menu > ul {
    display: flex;
    gap: 100px;
}

.footer .section .f_menu > ul > li > a {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px;
}

.footer .section .f_menu > ul > li ul a {
    font-size: 13px;
    display: block;
    padding: 10px;
    color: #ddd;
}

.footer .section .f_menu > ul > li ul a:hover {
    text-decoration: underline;
}

.footer .section .copyright {
    font-size: 12px;
    color: #ddd;
    margin-top: 70px;
}

.footer .section .sns {
    position: absolute;
    top: 70px;
    right: 0;
}

.footer .section .sns {
    display: flex;
    gap: 20px;
}

.footer .section .sns a {
    display: block;
}

.footer .section .sns a i {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobail footer */


.f_gnb {
    display: none;
}

.f_menu {
    /* display: none; */
}